################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Lavadero de perros/FileContentIndex/4cbac338-d847-4d7c-a328-470879a7ae64.vsidx
